@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Site de Filmes do Luccas</h1>
    <p>Aproveita e da uma força lá no meu <a href="https://github.com/Guterw">GitHub</a> e meu <a href="https://www.linkedin.com/in/luccas-fernando-almeida-da-silva-39888b153/">LinkedIn</a></p>
    <p>Que eu troquei varios dias meu horário de almoço por esse projeto kkkk Tamo Junto :).</p>
</div>
<div class="text-center">
<img src="Images/Photo1.jpg" alt="Ghostbusters 1" /> <img src="Images/Photo2.jpg" alt="Ghostbusters 2" />
</div>
